<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">

<header class="header">
    <div class="header-left">
        <img src="{{ url_for('static', filename='img/logo_sakuku.png') }}" alt="Logo" class="logo">
        <div class="title">
            <h1>SAKUKU</h1>
            <p>Sistem Awas Kandang Unggas</p>
        </div>
    </div>
    <div class="header-right">
        <h1>KELOMPOK 4</h1>
        <p>BBPPMPV BOE Malang</p>
    </div>
</header>

<nav class="navbar">
    <a href="#">BERANDA</a>
    <a href="#">AYAM</a>
    <a href="#">PAKAN</a>
    <a href="#">TELUR</a>
    <a href="#">PENGATURAN</a>
</nav>
